* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}
section {
  flex: none;
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  background-blend-mode: multiply;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: 4px;
  color: white;
  font-size: 2em;
}
.container section:nth-child(1) {
  background-color: ;
  background-image: url(1.jpg);
  background-size: cover;
}
.container section:nth-child(2) {
  background-color: teal;
  background-image: url(2.jpg);
  background-size: cover;
}
.container section:nth-child(3) {
  background-color: teal;
  background-image: url(3.jpg);
  background-size: cover;
}
.container section:nth-child(4) {
  background-color: teal;
  background-image: url(4.jpg);
  background-size: cover;
}
.container section:nth-child(5) {
  background-color: teal;
  background-image: url(5.jpg);
  background-size: cover;
}
